*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Times New Roman", serif;
    }

    body{
      background:#ffffff;
    }

    
    .wrapper{
      width: 90%;
      margin: 40px auto;
      border: 2px solid #000;
      padding: 40px 20px;

    
      display:flex;
      justify-content:center;   
      align-items:center;       
    }

    /* Flex container for cards */
    .card-container{
      display:flex;
      flex-direction:row;       
      justify-content:space-around;
      align-items:center;
      gap:40px;
      width:100%;
      max-width:1100px;
      flex-wrap:wrap;           
    }

    .card{
      width:260px;
      height:260px;
      border-radius:10px;
      border:2px solid #0a7bff;
      box-shadow:0 4px 10px rgba(0,0,0,0.15);
      background:#fff;

      display:flex;
      flex-direction:column;   
      align-items:center;       
      justify-content:flex-start;
      padding-top:35px;
      text-align:center;
    }

    .avatar{
      width:80px;
      height:80px;
      border-radius:50%;
      background:#0a7bff;
      color:#fff;
      display:flex;
      align-items:center;
      justify-content:center;
      font-weight:700;
      font-size:22px;
      margin-bottom:25px;
    }