body{
      font-family:arial, sans-serif;
     margin:0;
     padding:0;
     background-color:#f5f5f5;
}

h1{
     color:#333333;
     text-align:center;
     padding:20px ;
}

.product-grid{
     display:grid;
     grid-template-columns:repeat(auto-fit,minmax(250px, 1fr));
/*auto fit= auto adjust coloumns
           minmax= min and max size of coloumns */

     gap:20px;
     padding:20px;
     max-width:1200px;
     margin: auto;
}

.product-card{
     background:#ffffff;
     border:1px solid #dddddd;
     border-radius:10px;
     padding:15px;
     text-align:center;                  /*center-align text*/
}

.product-card:hover{
     transform:scale(1.05);              /*slightly enlarges the card on hover*/
     box-shadow:0 4px 12px rgba(0,0,0,0.1);
     /*adds soft shadow*/
}

.product-image{
     max-width:100%;                     /*image covers full width of card*/
     height:200px;                       /*fixed height */
     border-radius:8px;                  /*rounded corners*/
     object-fit:cover;                   /*crop image without distortion*/
}

.product-card h3{
     margin:15px 0 10px ;                 /*spacing around product title*/
     font-size:20px;
     color:#333;
}

.product-card p{
     color:#666666;                     /*lighter gray text*/
     font-size:14px;
}

.price {
     font-weight:bold;
     color:#27ae60;                     /*green color for price*/
     font-size:18px;
     margin:10px 0;
}

.btn{
     display:inline-block;
     padding:10px 15px;
     background-color:#007bff;   /*blue button*/
     color:#ffffff;
     text-decoration:none;
     border:none;
     border-radius:5px;
     cursor:pointer;
     margin top:10px;
}

.btn:hover{
     background-color:#0056b3;   /*darker blue on hover*/
}

@media (max-width:600px){
     .product-image{
          height:150px;               /*smaller image height on small screens*/
     }
}